body{
background-color: #9c9c9c;
font-family: 'Maven Pro', sans-serif;
margin:0;
padding:0;
}

a{
	font-weight:bold;
}
.navbar{
	background-color:#000;
	height:36px;
	overflow:auto;
	text-align:left;
	width:95%;
	position:relative;
	margin:1%;
	border-radius:0;
	display:block;


}

.navbar p{
	color:#FFF;
	position:relative;
	top:9px;
	left: 15px;
	line-height:1;
	font-size:16px;
	padding:0;
	margin:0;
}

.navbar img{
	float:right;
	position:absolute;
	top:8px;
	right:15px;
	display:block;
	padding:0;
	

}

.black-bar{
	/*width:95%;*/
	height:10px;
	background-color:#000;
	margin:0;
	padding:-10px;
	border: 0px;
	

}


.mm-main-image img{
	width:95%;
	height:auto;
	padding:0;
	margin:0;
	text-align:center;
}



.tourdates{
	margin:0;
	padding:0;
}

.tourbar {
	margin:0;
	text-transform:uppercase;
	font-size:12px;
	/*font-family: Work Sans, sans-serif;*/
	height:111px;
	line-height:23px
}

.tourbar a{
	text-decoration:none;
	color:black;
	font-weight:bold;
	padding-bottom:15px;
	font-size:14px;
}



.white{
	background-color: #E1E1E1;
	width:100%;
	padding:-10px;
	text-align:center;
	display:inline-block;
}

.tourinfo{
	line-height:25px;
	padding-top:3px;
	font-size:14px;
}



/*.big-navbar{
	background-color:black;
}*/

